div#fb-root
div#reader
  nav#left-pane
    header(id='header',class='clearfix') PTT Reader
    ul
      li
        h2 為什麼 1994 年出現這麼多好電影？
        p
        | jackson1914
      li
        h2 [轉錄] 婚禮告吹...
        p
        | title 2
      li
        h2 英媒：海伍德和谷開來在英國同居 - Yahoo!奇摩新聞
        p 
        | title 3
  div#right-pane 
    header
      div(class='fb-login-container')
        span(class='fb-login-caption') 一次整合閱讀 facebook 熱門新聞？ 請登入 facebook 
        fb:login-button(size="medium",scope="user_activities,user_interests,user_likes,user_status,friends_activities,friends_status,publish_actions,read_stream,offline_access") Connect with Facebook
      div(class='fb-action-container hide')
    article
      section
        h1 [公告] 婚禮告吹討論串停止回文
        p 想回應的，在自己想發言的文章底下推文吧 每個人的觀念不一定相同 良好的討論前提是建立在能夠互相理解 而非戰到對方觀念改變 這樣的討論是無止盡且沒有意義的 只是看在原PO又回覆新的一篇 代表板上的文章，多多少少有幫到她一些 算是能做個收尾，所以沒有馬上停止討論 此串討論公告後【即刻生效】，繼續回文者違規判定。 另外補上原PO最後的回覆 公告開放推文，但另闢標題內容相近之文章視同無視公告繼續回文。