div#fb-root
div(id='reader')
  nav#left-pane
    header(id='header') Simple FB Reader
    ul(class='storylist')
  div#right-pane
    header
      div(class='fb-login-container')
        span(class='fb-login-caption') Read Facebook in a cleaner way？ Connect with your facebook
        fb:login-button(size="medium", class="fb-login-button", scope="user_activities,user_interests,user_likes,user_status,friends_activities,friends_status,publish_actions,read_stream,offline_access") Connect with Facebook
      div(class='fb-action-container hide')
        span(class="truncate social-message")
        button(class='round-btn action-btn') Readerify
    article(class='storypane')
      iframe(class="article-iframe hide", width="100%")