div#reader
  div#left-pane
    header(id='header',class='clearfix') PTT Reader
    nav#nav-container
      ul
        li
          p
          | title 1
        li
          p
          | title 2
        li
          p 
          | title 3
  article#right-pane 
    div(id='social-bar-container', class='clearfix') share button is here
    section
      h1 Testing Title
      p some text here
    
