!!! 5
html(lang='zh-Hant-TW')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/aristo/jquery-ui-1.8.5.custom.css')
  body!= body
  script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')
  script(type='text/javascript', src='/javascripts/reader.js')
  script(type='text/javascript', src='/javascripts/fbinit.js')
