/*
  Basic CSS
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 22px;
    font-weight: normal;
    font: 13px/22px 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, 'Hiragino Sans GB', sans-serif;
}

h1 {
    font-size: 16px;

}

h2 {
    font-size: 14px;
    font-weight: normal;
}

.truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.flexbox { 
  display: box;
  box-orient: horizontal;
}

#left-pane {
    max-width: 250px;
    width: 25%;
    height: 100%;
    display: inline-block;
    background-color: #E7EBEF;
    border-right: 1px solid #AEB7BF;
    vertical-align: top;
}

#right-pane {
    background-color: #EEEEEE;
    display: inline-block;
    height: 100%;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-box-flex: 1;
    min-width: 800px;
    padding-bottom: 50px;
    position: fixed;
    top: 8px;
}

#left-pane header {
    border-bottom: 1px solid #BFBFBF;
    padding: 2px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    line-height: 46px;
    vertical-align: center;
}

#left-pane ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0 10px 0 10px;
    margin-bottom: 0px;
}

#left-pane ul li {
    border-bottom: 1px solid #AEB7BF;
    padding-bottom: 3px;
}

#right-pane header{
    height: 50px;
    padding: 2px 0px 2px 10px;
    line-height: 46px;
    vertical-align: center;
}

#right-pane article {
    padding: 10px 10px 10px 10px;
    height: 100%;
    overflow-y: auto;
    display: block;
    position: relative;
    
}
#right-pane article h1 {
    font-family: "Microsoft Yahei", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma;
}

.fb-login-button {
    display: inline-block;
    padding-top: 10px;
}
.fb-login-caption {
    width: 400px;
    vertical-align: top;
    display: inline-block;
}
.fb-login {
    display: inline-block;
    background-color: #666666;
    color: #FFFFFF;
    width: 75px;
    height: 30px;
    text-align: center;
    line-height: 22px;
    font-size: 15px;
    font-color: white;
    margin-left: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
}


